* {
    font-family: baloo Paaji;
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    width: auto !important;
    height: auto !important;
}
.ant-menu-horizontal>.ant-menu-item:hover, .ant-menu-horizontal>.ant-menu-submenu:hover, .ant-menu-horizontal>.ant-menu-item-active, .ant-menu-horizontal>.ant-menu-submenu-active, .ant-menu-horizontal>.ant-menu-item-open, .ant-menu-horizontal>.ant-menu-submenu-open, .ant-menu-horizontal>.ant-menu-item-selected, .ant-menu-horizontal>.ant-menu-submenu-selected {
    color: #E7C654;
}



.footer-content {
    color: white;
    font-family: "Baloo Paaji Medium";
    font-size: 25px;
}

.foot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 80px 80px 0px 0px;
    background-color: #E7C654;
    border-color: #E7C654;
    color: #FFFFFF;
}

.first-foot-div {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
}

.first-child-1 {
    display: flex;
    flex-direction: column;
    flex: 30%;
    margin: 30px;
}

.first-child-2 {
    display: flex;
    flex-direction: column;
    flex: 30%;
    margin: 30px;
}

.first-child-3 {
    display: flex;
    flex-direction: column;
    flex: 40%;
    margin: 30px;
}

.second-foot-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.second-child-1 {
    flex: 50%;
    justify-content: flex-start;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.second-child-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;
    flex: 50%
}

.second-child-2 img {
    width: 40px;
    height: 40px;
}

.pg-header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    height: 180px;
    align-items: center;
}

.header-first {
    flex: 0.5;
    display: flex;
    justify-content: flex-start;
}

.header-second {
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.header-first img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}
#root {
    display: flex;
}
.root {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.bigdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(154, 164, 174, 0.5), rgba(154, 164, 174, 0.5)), url("../Assets/bigbac.jpg");
    background-position: center 70%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}

.textArea {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buttonArea {
    font-size: 18px;
    height: 55px;
    color: white;
    border-width: 0px;
    border-radius: 8px;
    font-family: "Baloo Paaji Medium";
    background: linear-gradient(to right, rgb(183, 142, 0) 9.38%, rgb(231, 198, 84) 88.54%);
}
.buttonArea:focus, .buttonArea:hover, .buttonArea:active {
    font-size: 18px;
    height: 55px;
    color: white;
    border-width: 0px;
    border-radius: 8px;
    font-family: "Baloo Paaji Medium";
    background: linear-gradient(to right, rgb(183, 142, 0) 9.38%, rgb(231, 198, 84) 88.54%);
    border-color: none;
}

.ta-sp-1 {
    font-size: 25px;
    color: white;
    border-radius: 10px;
    font-family: "Baloo Paaji Medium";
}

.ta-sp-2 {
    font-size: 30px;
    color: #E7C654;
    border-radius: 10px;
    font-family: "Baloo Paaji Medium";
}

.filtDesc {
    font-size: 20px;
    margin-top: -10px;
}

.filterWrap {
   /* margin: 60px auto;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: auto;
    margin: 20px auto 60px auto !important;
    position: relative !important;
    /*max-width: 1760px !important;*/
    padding-right: 80px !important;
    padding-left: 80px !important;
    
    align-items: center;
}

.heading {
    height: auto;
    padding: 10px;
}

.heading span {
    font-family: "Baloo Paaji Medium";
    font-size: 48px;
    background: -webkit-linear-gradient(rgb(183, 142, 0) 9.38%, rgb(231, 198, 84) 88.54%)
}

@media screen and (max-width: 450px) {
    .heading span {
        font-size: 28px !important;
    }
}
.ant-menu-horizontal  .ant-menu-item a:hover, .ant-menu-horizontal > .ant-menu-submenu .ant-menu-submenu-title:hover{
    color: #E7C654;
}
.ant-menu-horizontal .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu .ant-menu-submenu-title:hover{
    border-bottom:2px solid #E7C654;
}
.textArea{
    margin-bottom:30px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
.buttonArea{
    font-size:18px;
    height:55px;
    color:white;
    border-width:0px;
    border-radius:8px;
    font-family:"Baloo Paaji Medium";
    background:linear-gradient(to right,rgb(183,142,0) 9.38%, rgb(231,198,84) 88.54%);  
}
.ta-sp-1{
    font-size:25px;
    color:white;
    border-radius:10px;
    font-family:"Baloo Paaji Medium";
}
.ta-sp-2{
    font-size:30px;
    color:#E7C654;
    border-radius:10px;
    font-family:"Baloo Paaji Medium" ;
}
.filt{
    flex:1;
    border-radius:16px;
    box-shadow:rgba(0,0,0,0.15) 0px 2px 8px;
    margin:18px
}

.filtMeta{
    font-size:18px;
    margin-top:-20px;
    margin-bottom:-10px;
    font-family:"Baloo Paaji Medium";
}
.filtTitle{
    font-size:25px;
    color:#E7C654;
    margin-bottom:-18px;
    font-family:"Baloo Paaji Medium";
}

.heading span{
    font-family:"Baloo Paaji Medium";
    font-size:48px;
    background:-webkit-linear-gradient(rgb(183,142,0) 9.38%, rgb(231,198,84) 88.54%); 
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.filterSection {
    display: flex;
    flex-wrap: wrap;
}

.filterSection .ant-card-bordered {
    border-radius: 16px !important;
    border-bottom: none !important;
    border-top: none !important;
}


.filterSectionDiv {
    flex: 3.5%
}

.news {
    flex: 25%;
    margin: 20px;
}

.newsMeta {
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: -10px;
    font-family: "Baloo Paaji Medium";
}

.newsTitle {
    font-size: 18px;
    color: #E7C654;
    margin-bottom: -18px;
    font-family: "Baloo Paaji Medium";
}

.newsDesc {
    margin-top: -10px;
}

.newsWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-left: 40px;
    margin-right: 40px; */
}

.newsHead {
    margin: 30px 30px 40px;
}

.newsHead span {
    font-family: "Baloo Paaji Medium";
    font-size: 35px;
    background: -webkit-linear-gradient(rgb(183, 142, 0) 9.38%, rgb(231, 198, 84) 88.54%);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.newsContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 60px;
}


.ant-menu-item {
    font-family: "Baloo Paaji Medium";
}

.searchWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ant-menu-horizontal > .ant-menu-item {
    font-size: 20px;
}

.innerWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    border-radius: 10px;
    border-width: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.locDiv {
    flex: 30%;
    margin: 10px;
    color: #E7C654;
}

.buildDiv {
    flex: 30%;
    color: #E7C654;
}

.inputField {
    border-width: 0;
    display: flex;
    flex: 1;
    /*width: 350px;*/
    font-size: 20px;
}

.innerWrap span {
    font-family: "Baloo Paaji Medium";
    font-size: 25px;
}

.searchButton {
    flex: 10%;
    font-size: 20px;
    height: 50px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(183, 142, 0) 9.38%, rgb(231, 198, 84) 88.54%);
    margin-left: 15px;
}

.orange {
    color: orange;
    font-size: 20px;
}
.star {
    font-size: 20px;
}

.no-data {
    display: flex;
    justify-content: center;
    align-items: center;
}