.ant-carousel .slick-slide {
    text-align: center;
    height: 200px;
    line-height: 160px;
    background: #ffffff;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .image{
    max-width: 100%;
    height: auto;
  }
  