.ant-carousel .slick-slide {
    text-align: center;
    height: 200px;
    line-height: 160px;
    background: #ffffff;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .image{
    width: 100%;
    height: auto;
  }
  .carousel-cover {
    display: inline-flex;
    min-width: 100%;
  }

  container-image {
    flex: 0 0 250px;
  }